<app-navigation></app-navigation>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Управление категориями</h1>
  <p class="lead">Добавление, удаление изменение категориями курсов</p>

</div>

<div style="margin: 10px" class="form-group mb-3">
  <div class="card card-body">
    <p class="h3">Создать категорию</p>
    <hr>
    <label class="text-left" for="name">Название</label>
  <input [(ngModel)]="category.name" type="text" class="form-control" id="name" placeholder="Название">
  <label for="description">Описание</label>
  <textarea [(ngModel)]="category.description"
            type="text"
            class="form-control"
            rows="5"
            id="description"
            placeholder="Описание">

  </textarea>
    <p>* Перед отправкой убедитесь, что форма верно заполнена</p>
    <button (click)="save()" id="save" class="btn btn-success">Создать</button>
    </div>
</div>


<div style="margin: 10px">
  <div style="margin-bottom: 10px" *ngFor="let c of categories; index as i">
    <div class="card card-body">
    <span><h3>{{c.name}}</h3></span>
      <hr>
      <pre class="text-white">
      {{c.description}}
      </pre>
      <span style="float: right">
        <button class="btn btn-success" style="margin-right: 10px" (click)="delete(c.id, i)">Удалить</button>
      </span>
    </div>
  </div>
  <br>
</div>
