<app-navigation></app-navigation>
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Конструктор учебных занятий</h1>
  <p class="lead">Создавайте учебные занятия для вашего курса</p>
  <p class="lead">После добавления, нажмите далее</p>
</div>

<div class="form-group mb-3 card card-body green-back">
  <label class="text-left" for="name">Название</label>
  <input [(ngModel)]="trainingSession.title" type="text" class="form-control" id="name" placeholder="Название">
  <label for="description">Описание</label>
  <textarea style="margin-bottom: 10px" [(ngModel)]="trainingSession.description" type="text" class="form-control" id="description" placeholder="Описание">
  </textarea>
  <a (click)="add()" class="btn btn-success" style="margin-bottom: 10px">Добавить</a>
  <a class="btn btn-success" [routerLink]="['/training-session-view/' + id]">Далее</a>
</div>

<div style="margin: 10px">
  <div style="margin-bottom: 10px" *ngFor="let t of trainingSessions; index as i">
    <div class="card card-body">
      <span><h3>{{t.title}}</h3></span>
      <hr>
      <pre>{{t.description}}</pre>
      <span style="float: right">
        <button class="btn btn-success" style="margin-right: 10px" (click)="delete(t.id, i)">Удалить</button>
      </span>
    </div>
  </div>
  <br>
</div>
