<app-navigation></app-navigation>
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Вызов принят!</h1>
  <p class="lead">Да начнётся сражение!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <p class="h5">Здоровье противника</p>
      <img src="assets/heart.png" width="20" height="20" alt="">
      <img src="assets/heart.png" width="20" height="20" alt="">
      <img src="assets/heart.png" width="20" height="20" alt="">
      <img src="assets/heart.png" width="20" height="20" alt="">
      <br>
      <img src="assets/enemy1.png" width="240" height="350" alt="">
      <p class="h5">Ваше здоровье</p>
      <img src="assets/heart.png" width="20" height="20" alt="">
      <img src="assets/heart.png" width="20" height="20" alt="">
      <br>
    </div>
    <div class="col-sm">
      <pre>Что будет выведется в результате этого кода?
i:=5;
  write('9');
  while i<5 do begin
    write(i);
    i:=i+1
end;
      </pre>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          9
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2">
          9999
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
        <label class="form-check-label" for="flexRadioDefault3">
          Ошибка компилятора
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
        <label class="form-check-label" for="flexRadioDefault4">
          0
        </label>
      </div>
      <a class="btn btn-success" style="margin-top: 10px">Ответить</a>
    </div>
  </div>
</div>
