/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Ссылка на навигационной панеле */
.navbar-collapse ul li a {
  color: antiquewhite;
}

.navbar-collapse ul li a:visited {
  color: antiquewhite;
}

/* mouse over link */
.navbar-collapse ul li a:hover {
  color: whitesmoke;
}

/* selected link */
.navbar-collapse ul li a:active {
  color: antiquewhite;
}

nav {
  background-color: #28a745 !important;
}

.container-fluid a {
  color: antiquewhite;
}

.green-back {
  background: #f0f5f0 !important;
  margin: 20px;
}

.dark-green-back {
  background: #28a745;
  color: whitesmoke;
}
/* login form */
.login-form {
  margin: 50px auto;
  width: 400px;
}

.head-title {
  margin: 20px;
}

.article {
  border-radius: 10px;
  margin: 50px;
  padding: 50px;
  background: whitesmoke;
}

.error-text {
  color: #b40d00;
  font-weight: bold;
}


/* Style buttons */
.profile-btn {
  background-color: transparent ; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.profile-btn:hover {
  background-color: transparent;
}

.dropdown-text li a {
  color: black !important;
}

.dropdown-text li a:visited {
  color: black !important;
}

.dropdown-text li a:hover {
  color: black !important;
}

.dropdown-text li a:active {
  color: black !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  padding-bottom: 0 !important;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px !important;
}

.formatted-text-area {
  white-space: pre-wrap;
}

pre {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  color: black !important;
  text-indent: 0em !important;
}
